@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Frank+Ruhl+Libre:wght@300..900&family=Great+Vibes&family=Lobster&family=Nanum+Myeongjo&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=RocknRoll+One&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*index*/

body{
    background-color: #f7dfbc;

}



.main-header {
   background-image: url(imagens/1714991874423.jpg);
    background-size: 100% 100%;
    font-family: 'Arial';
    background-position: 50% 39%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 50px;
}


.main-nav {
    width: 100%; 
    
}


.header-list-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 16px 0; 
}


.nav-item {
    text-transform: uppercase;
    color: black;
    margin: auto;
    font-size: 18px;
   
}


.nav-item a {
    text-decoration: none;
    color: inherit;
    margin-left:15px ;
}

.nav-item:hover {
    color: black;
    transition: 0.2s;
    transform: scale(1.2);
}


.title-header {
    margin-top: 30px;
    color:#815410;
    font-size: 60px;
    padding-bottom: 20px;
    margin-bottom: auto;
    margin-top: 30px;
    text-align: center;
   font-family: 'Dancing script', cursive;

}

.title-start {
    margin-bottom: 3000px;
    color:#110b01;
    font-size: 60px;
    padding-bottom: 20px;
    margin-bottom: auto;
    margin-top: 30px;
    text-align: center;
   font-family: 'Dancing script', cursive;

}

.about-description {
    margin-bottom: 30px;
    color: rgb(12, 1, 1);
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin: 30px;
}



.description {
    margin-bottom: 30px;
    color: rgb(61, 5, 5);
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin: 30px;
}

.product-container {
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 40px;
     padding-bottom: 30px;
 }

 .product-inicio {
    display: flex;
    flex-direction: initial ;
    text-align: center;
    align-items: center;
 }
 
.product-title {
    font-size: 28px;
    margin-bottom: 6px;
    font-family: "Dancing script";
}


.title-text{
    font-size: 60px;
    font-family:'Dancing Script', cursive ;
    text-align: left;
    color: rgb(173, 5, 5);
    margin-bottom: 20px;

}

.product-box{
    border-radius: 5px;

}

li {
    list-style-type: none;
}
    .nav-item:hover{
        display: block;
    }

.sub-items{
    display: none;
    position: fixed;
    padding: 10px;
    border-radius: 5px;
    color:black;
    
}
.sub-items li{
    margin-bottom: 5px;
}

.sub-items a{
    text-decoration: none;
    font-size: 16px;
}
.sub-items a:hover{
    text-decoration: none;
    border-radius: 5px;
    padding: 0px 3px
    
}







/*carrino*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.rotulo{
    font-size: 20px;
    font-family: 'calibri';
    display: block;
    align-items: center;
}


.main-about {
    padding: 40px 0px 64px;
}



.title-median{
    font-size: 30px;
    font-family: Arial;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}


.container-item{
    background-color:#c7a675;
    max-width: 600px;
    padding: 0 16px;
    margin: 0 auto;
   
}


.cart-table {
    width: 100%;
    border-collapse: collapse; 
    padding-bottom: 6px;
    font-size: 28px;
    display:block;
}


.table-head-item {
    text-align: start;
   border-bottom: 1px solid;
   padding-bottom: 6px;
   text-transform: uppercase; 
}

.cart-total-container {
    border-top: 1px solid;
    text-align: end;
    padding: 6px 16px 0 0;
}

.cart-product {
    padding: 8px; 
}

.product-identification {
    display: flex; 
    align-items: center; 
}

.cart-product-image {
    width: 100px; 
    height: 80px;
}

.cart-product-title {
    margin-left: 13px; 
}

.cart-product-price {
    font-family: "Raleway", sans-serif;
}



.remove-product-button{
    color: black;
    padding: 11px 18px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 3px 3px black;
    cursor: pointer;
}

.remove-product-button:hover {
    filter: brightness(0,8);
    background-color:rgb(134, 5, 5);
    color: black;
}

.purchase-button{
    background-color: rgb(145, 187, 82);
    padding: 12px 10px;
    display: flex;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 3px 3px black;
    cursor: pointer;
    font-weight: bold;
    margin: 24px auto 0;
   min-width: 12px;
 
}

.purchase-button:hover {
    background-color: white;
    transform: scale(1.1);
} 

.product-qnt-input{
    width: 50px;
    height: 45px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}


.about-image {
    float: left; 
    margin: 0 20px 10px 0;
    width: 200px;
    height: auto;
}



/*contato*/

.list{
margin-top: 100px;



}
.container{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    background-color:#c7a675;;
  
  }

  
.text{
    margin: 15px;
    text-align: center;
    font-size: 20px;
}

.about-description {
    text-align: justify;
}

.title-smaller{
    
    font-family:"Roboto", sans-serif;
    color:black;
    font-size: 30px;
    text-align: center;
    
}

.list-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}


.button-form{
    background-color: rgb(145, 187, 82) ;
    padding: 5px 7px;
    border-radius: 8px ;
    font-size: 14px;
    box-shadow: 3px 3px  black;
   
}

.button-form:hover {
    background-color: rgb(220, 238, 192);
    color: beige;
}

.contact {
    padding: 60px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background-color:#c7a675;;
  
}

.contact-label{
    display: block;
    margin-bottom: 20px;
    color: black;
    
}

.contact-field{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: black;

}


.contact-form {
    padding: 60px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background-color:rgb(209, 201, 201);
  
}

.contact-field:focus {
    background-color:white;
    outline: none;
}

textarea.contact-field {
    height: 150px;
    padding: 10px;
    font-family: "Roboto", calibri;
}


/*sobre*/


.title{
    text-align: center;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin: 40px;
    
    }
 .image{
    width: 650px;
    height: 350px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px black;
    margin-left: 630px;
}


.button-hover{
    background-color: rgb(145, 187, 82);
    color: white;
    padding: 8px 6px;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: 3px 3px black;
    font-weight: bold;
    cursor: pointer;
}

.button-hover:hover {
    transform: scale(1.1);
}

.title-large {
    font-size: 38px;
    color: black;
    text-align: center;
}



/*produtos*/


.product-container {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    padding-bottom: 100px;
    margin: 30px;
    margin-top: 180px;
}

.product {
    flex-direction: column-reverse;
    align-items: center;
  
}

.product-price-container {
    width: 100%;
  
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}


.product-image {
    width: 400px;
    height: 300px;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 3px 3px 8px 8px black;
}

.button-hover:hover {
    background-color: transparent;
}



.second-col,
.third-col {
    width: 30%; 
}


.box{
    width: 100%;
    height: 100%;
}



/*rodapé*/


.main-footer{
    background-image: url(imagens/1714991874423.jpg);
    color:#815410;
    padding: 8px 0px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin-top: 50px;
}

.footer-item {
    width: 50px;
    height: 50px;
    padding: 15px 0 4px; /*Aplica espaçamento 15px cima/baixo e 0px equerda/direita*/
 }

.list-container {
    display: flex; /*Deixar tudo na mesma linha*/
    align-items: center; /* Alinha todos os elementos*/
    justify-content: space-around; /*Colar nome de um lado e lista de icones do outro*/
 }

 .title-footer{
    font-size: 28px;
    text-align: 15px 0;
    font-family: "Dancing script", cursive;
    text-align: center;
 }
 

#voltarAoTopo{
    background-color: #f7dfbc;;
    display: none;
    position: fixed;
    bottom: 350px;
    right: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;

}
.scroll{
    width: 45px;
    height: 45px;
}


 
  .nav-item a {
     text-decoration: none; /*remove o underline do ancora*/
     color: inherit; /*herda a cor do elemento pai (neste caso é o nav-item)*/
     
  }
 
  .nav-item:hover {
    
    background-color: rgba(0, 0, 0, 0.5); /* Transparência média no fundo */
    border-radius: 5px;
    padding: 0px 3px;
  }

  .title-contact{
    font-family: "Dancing script";
    font-size: 35px;
    text-align: center;
    color: azure;
background-color: #ca9443 ;
  }
   .contato{
    margin: 900px;
   }


 /*---------------------------Vídeo-------------------------------------*/

 /* Estilo para o vídeo de fundo */
 .video {
    position: absolute;
     right: 0;
     bottom: 250px;
     min-width: 100%;
     min-height: 100%;
     z-index: -1;
     object-fit: cover;
      
 }
  